html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    width: 100%;
    min-width: 100%;
}

ul {
    list-style: none;
}

strong {
    color: $baseColor;
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
}
