@font-face {
    font-family: 'Mark';
    font-display: block;
    font-weight: bold;
    src: url('../fonts/Mark-Heavy.woff2') format('woff2'), url('../fonts/Mark-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Mark';
    font-display: block;
    font-weight: normal;
    src: url('../fonts/Mark-Regular.woff2') format('woff2'), url('../fonts/Mark-Regular.woff') format('woff');
}
