doctype html
html(lang="")
    head
        // link(rel="stylesheet", href="main.scss")
    body
        h1 Swish Contents
        .slide(data-slide)
            .block(data-block) default
        .control
            h2.control__title Control Button
            button.control__prev(data-prev).common-button Prev
            button.control__pause(data-pause).common-button Pause
            button.control__next(data-next).common-button Next
        script(src="index.ts")
